.container{
    text-align: start;
    /* margin-left: 450px; */
}
.form-control {
    width: 100%; 
    padding: 6px; 
    font-size: 16px; 
    margin-bottom: 20px;
    border: 1px solid #ccc;  
    border-radius: 5px;
 }

.form-group {
    border-radius: 5px;
    border: 1px solid black;
    padding: 15px;
    width: 70%;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS' ;
    border-radius: 5px;
  }

button {
    background-color: green;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    border: none;
}

h1 {
    color: #1c35d4;
    margin-left: 100px;
}
.notification {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideIn 0.5s forwards, fadeOut 0.5s 4s forwards;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-50%) translateY(-100%);
    }
    to {
      transform: translateX(-50%) translateY(0);
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  